<!-- CONTAINER -->
  <div class="container">
    <div class="krs-flex is-wrap">
      <div class="container-left">
        <div class="section" id="blog">
          <div class="widget Blog" id="Blog1">
            <!--series-->

            <!--series-->

            <!-- juegos -->
            <div class="headline">
              <h2 class="headline__title">Juegos Agregado</h2>
            </div>
            <div class="krs-flex is-wrap">
              <div class="col-12 col-xs-4 col-md-4">
                <div class="anime-item">
                  <div class="anime-item__image t_juego">
                    <a
                      href="/game/nekopara-extra/"
                      title="NEKOPARA Extra ~The Kittens' First Promise~"
                    >
                      <img
                        src="/public/3.webp"
                        title="NEKOPARA Extra ~The Kittens' First Promise~"
                        style="height:160px;"
                      />
                    </a>
                  </div>
                  <a
                    href="/game/nekopara-extra/"
                    title="NEKOPARA Extra ~The Kittens' First Promise~"
                  >
                    <h3 class="anime-item__title">
                      NEKOPARA Extra ~The Kittens' First Promise~
                    </h3>
                  </a>
                </div>
              </div>
              <div class="col-12 col-xs-4 col-md-4">
                <div class="anime-item">
                  <div class="anime-item__image t_juego">
                    <a href="/game/nekopara-vol-0/" title="NEKOPARA Vol. 0">
                      <img
                        src="/public/4.webp"
                        title="NEKOPARA Vol. 0"
                        style="height:160px;"
                      />
                    </a>
                  </div>
                  <a href="/game/nekopara-vol-0/" title="NEKOPARA Vol. 0">
                    <h3 class="anime-item__title">NEKOPARA Vol. 0</h3>
                  </a>
                </div>
              </div>
              <div class="col-12 col-xs-4 col-md-4">
                <div class="anime-item">
                  <div class="anime-item__image t_juego">
                    <a href="/game/nekopara-vol-1/" title="NEKOPARA Vol. 1">
                      <img
                        src="/public/5.webp"
                        title="NEKOPARA Vol. 1"
                        style="height:160px;"
                      />
                    </a>
                  </div>
                  <a href="/game/nekopara-vol-1/" title="NEKOPARA Vol. 1">
                    <h3 class="anime-item__title">NEKOPARA Vol. 1</h3>
                  </a>
                </div>
              </div>
              <div class="col-12 col-xs-4 col-md-4">
                <div class="anime-item">
                  <div class="anime-item__image t_juego">
                    <a href="/game/nekopara-vol-2/" title="NEKOPARA Vol. 2">
                      <img
                        src="/public/6.webp"
                        title="NEKOPARA Vol. 2"
                        style="height:160px;"
                      />
                    </a>
                  </div>
                  <a href="/game/nekopara-vol-2/" title="NEKOPARA Vol. 2">
                    <h3 class="anime-item__title">NEKOPARA Vol. 2</h3>
                  </a>
                </div>
              </div>
              <div class="col-12 col-xs-4 col-md-4">
                <div class="anime-item">
                  <div class="anime-item__image t_juego">
                    <a href="/game/nekopara-vol-3/" title="NEKOPARA Vol. 3">
                      <img
                        src="/public/7.webp"
                        title="NEKOPARA Vol. 3"
                        style="height:160px;"
                      />
                    </a>
                  </div>
                  <a href="/game/nekopara-vol-3/" title="NEKOPARA Vol. 3">
                    <h3 class="anime-item__title">NEKOPARA Vol. 3</h3>
                  </a>
                </div>
              </div>
              <div class="col-12 col-xs-4 col-md-4">
                <div class="anime-item">
                  <div class="anime-item__image t_juego">
                    <a
                      href="/game/loves-sweet-garnish/"
                      title="Love's Sweet Garnish"
                    >
                      <img
                        src="/public/23.webp"
                        title="Love's Sweet Garnish"
                        style="height:160px;"
                      />
                    </a>
                  </div>
                  <a
                    href="/game/loves-sweet-garnish/"
                    title="Love's Sweet Garnish"
                  >
                    <h3 class="anime-item__title">Love's Sweet Garnish</h3>
                  </a>
                </div>
              </div>
              <div class="col-12 col-xs-4 col-md-4">
                <div class="anime-item">
                  <div class="anime-item__image t_juego">
                    <a
                      href="/game/the-demons-stele--the-dog-princess/"
                      title="The Demon's Stele & The Dog Princess"
                    >
                      <img
                        src="/public/9.webp"
                        title="The Demon's Stele & The Dog Princess"
                        style="height:160px;"
                      />
                    </a>
                  </div>
                  <a
                    href="/game/the-demons-stele--the-dog-princess/"
                    title="The Demon's Stele & The Dog Princess"
                  >
                    <h3 class="anime-item__title">
                      The Demon's Stele & The Dog Princess
                    </h3>
                  </a>
                </div>
              </div>
              <div class="col-12 col-xs-4 col-md-4">
                <div class="anime-item">
                  <div class="anime-item__image t_juego">
                    <a href="/game/maitetsu/" title="Maitetsu">
                      <img
                        src="/public/11.webp"
                        title="Maitetsu"
                        style="height:160px;"
                      />
                    </a>
                  </div>
                  <a href="/game/maitetsu/" title="Maitetsu">
                    <h3 class="anime-item__title">Maitetsu</h3>
                  </a>
                </div>
              </div>
              <div class="col-12 col-xs-4 col-md-4">
                <div class="anime-item">
                  <div class="anime-item__image t_juego">
                    <a href="/game/wolf-tails/" title="Wolf Tails">
                      <img
                        src="/public/12.webp"
                        title="Wolf Tails"
                        style="height:160px;"
                      />
                    </a>
                  </div>
                  <a href="/game/wolf-tails/" title="Wolf Tails">
                    <h3 class="anime-item__title">Wolf Tails</h3>
                  </a>
                </div>
              </div>
            </div>
            <!--juegos -->

            <!-- musica -->

            <!-- musica -->
          </div>
        </div>
      </div>
      <!--sidebar-->
      <div class="container-right sidebar section" id="sidebar">
        <div class="widget FeaturedPost no_movil" id="FeaturedPost1">
          <h2 class="widget-title">jsjsjsj holis</h2>
          <div class="widget-content">
            <div class="featuredPost">
              <div class="featuredPost__image">
                <img
                  alt="hey como andas?"
                  src="/public/Debel.webp"
                  style="height:240px;"
                />
              </div>
              <a href="https://www.facebook.com/debel26/" target="_blank" title="DebelxD">
                <h3 class="featuredPost__title">Debel</h3>
              </a>
              <p class="featuredPost__summary">
                un gusto nomas queria decir que esta pagina se encuentra en
                desarrollo, tengo varias ideas por
                implementar, cualquier duda me puedes enviar al interno :3
              </p>
            </div>
          </div>
        </div>
      </div>
      <!--sidebar-->
    </div>
  </div>
  <!-- END CONTAINER -->

